@import "tailwindcss";

@theme {
  --color-primary: #13b6ec;
  --color-background-light: #f6f8f8;
  --color-background-dark: #101d22;
  --color-surface-dark: #1a2c32;
  --color-border-dark: #293a41;
  --color-text-secondary: #93adc8;
  --font-display: var(--font-inter), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}

@custom-variant dark (&:is(.dark *));

/* Custom Scrollbar for dark mode feeling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #101d22;
}

::-webkit-scrollbar-thumb {
  background: #293a41;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e525a;
}